<style>
  .login-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .login-form-field {
  margin-bottom: 20px;
  }

  .login-actions {
  text-align: center;
  }
</style>
<div class="login-container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="login-form-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="login-form-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="login-actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
