<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <p class="card-text">Name: <%= current_user.name %></p>
          <p class="card-text">Email: <%= current_user.email %></p>
          <!-- Add more user information here -->
          <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Your Posts</h5>
          <% if current_user.posts.any? %>
            <div class="list-group">
              <% current_user.posts.each do |post| %>
                <a href="<%= post_path(post) %>" class="list-group-item list-group-item-action">
                  <%= post.title %>
                </a>
              <% end %>
            </div>
          <% else %>
            <p class="card-text">You haven't created any posts yet.</p>
          <% end %>
          <%= link_to "Create New Post", new_post_path, class: "btn btn-primary mt-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
